body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  /* background: linear-gradient(to right,rgba(27, 177, 27, 0.253),rgba(251, 251, 251, 0.509), rgba(245, 120, 120, 0.272)); */
   background-image: url('../Images/backgroundFaculty.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  color: rgb(255, 255, 255); 
  /* background: linear-gradient(to right,rgba(27, 72, 177, 0.651),rgba(232, 229, 229, 0.509), rgba(120, 128, 245, 0.272)); */
  text-align: center;
  font-size: 22px;
  padding: 26px 0;
  /* text-shadow: #FFFFFF 2px 5px 15px; */
  
}

h1 {
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

nav {
  display: flex;
  justify-content: center;
  
  background-color: rgba(54, 6, 84, 0.8);
  padding: 15px 0;
}

nav button {
  text-decoration: none;
  color: #ffffff;
  font-size: 19px;
  font-weight: bolder;
  /* border: 2px solid #000000; */
  border-radius: 10px;
  padding: 12px 20px;
  margin: 0 10px;
  transition: background-color 0.3s ease;
  border: none;
}

nav button:nth-child(1) {
  background-color: #3f1fb2cb;
  
}

nav button:nth-child(2) {
  background-color: #3f1fb2cb;
  
}

nav button:nth-child(3) {
  background-color: #3f1fb2cb;
}

nav button:nth-child(4) {
  background-color: #3f1fb2cb;
}

nav button:nth-child(5) {
  background-color: #3f1fb2cb;
  
}

nav button:hover {
  background-color: #125f92;
  color: #ffffff;
}

section.attendance-section {
  padding: 30px;
  text-align: center;
}

.attendance-box {
  
  border-radius: 40px;
  padding: 40px;
  background-color: #EDF7FE;
  /* background-color: #f3f5f7e3; */
  width: 35%;
  height: 50vh;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

footer {
  text-align: center;
  padding: 10px;
  background-color:rgba(54, 6, 84, 0.8);
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nextBtn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  /* text-align: rig20pxht; */
  position: fixed;
  bottom:35% ;
  right: 15%;

  background: #f075d5a8;
  /* width: 100%; */
  border: 0;
  padding: 25px 40px;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bolder;
  /* font-weight: bolder; */
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.nextBtn:hover,.nextBtn:active,.nextBtn:focus {
  background: #57abc398;
}

.backBtn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  /* text-align: rig20pxht; */
  position: fixed;
  bottom:35% ;
  left: 15%;

  background: #f075d5a8;
  /* width: 100%; */
  border: 0;
  padding: 25px 40px;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bolder;
  /* font-weight: bolder; */
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.backBtn:hover,.backBtn:active,.backBtn:focus {
  background: #b3c35779;
}


