body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    /* background-image: url('../Images/backgroundStudent.avif'); */
    background-image: url('../Images/backgroundStudent.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    
     color: #ffffff; 
    /* background: linear-gradient(to right,rgba(27, 72, 177, 0.651),rgba(232, 229, 229, 0.509), rgba(120, 128, 245, 0.272)); */
    text-align: center;
    font-size: 22px;
    padding: 26px 0;
    /* font-weight: bolder; */
}

h1 {
    margin: 0;
}
/*for600*/

@media only screen and (max-width: 360px) and (max-height: 800px) {
  body {
    font-size: 14px;
  }

  .container {
    width: 100%;
  }
}

/*for1200 */

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  body {
    font-size: 16px;
  }
}
nav {
    display: flex;
    justify-content: center;
    
    background-color: rgba(40, 55, 71, 0.8);
    padding: 15px 0;
}

nav button {
    text-decoration: none;
    color: #ffffff;
    font-size: 19px;
    font-weight: bolder;
    /* border: 2px solid #000000; */
    border-radius: 10px;
    padding: 12px 20px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
    border: none;
}

nav button:nth-child(1) {
    background-color: #3f8bbe8c;
    
}

nav button:nth-child(2) {
    background-color: #3f8bbe8c;
    
}

nav button:nth-child(3) {
    background-color: #3f8bbe8c;
}

nav button:nth-child(4) {
    background-color: #3f8bbe8c;
}

nav button:nth-child(5) {
    background-color: #3f8bbe8c;
    
}

nav button:hover {
    background-color: #125f92;
    color: #ffffff;
}

section.Attendance-Section {
    padding: 30px;
    text-align: center;
}

.Attendance-Box {
    background-color: #ffffff; 
    /* border: 2px solid #3498db; */
    border-radius: 20px;
    padding: 20px; 
    width: 50%;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.2), 0 5px 5px  0 rgba(0, 0, 0, 0.24);
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(40, 55, 71, 0.8);
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
