<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/faculty.css">
    <title>Faculty Webpage</title>
</head>
<body>
    <header>
        <h1>FACULTY PORTAL</h1>
    </header>

    
    <nav>
        <button>AI</button>
        <button>Algorithms</button>
        <button>DBMS</button>
        <button>ML</button>
        <button>Networking</button>
    </nav>
    
    <button class="nextBtn" >Next</button>
    <button class="backBtn" >Back</button>
    <section class="attendance-section">
        <div class="attendance-box">
            <h2>MARK ATTENDANCE</h2>
            <div class="attendanceMark">
              <p>Name of student</p>
              <p>roll number</p> 
              <label for="absent">Absent</label>
              <input id="absent" type="radio" name="stat">
              <label for="present">Present</label>
              <input id="present" type="radio" name="stat">
            <button class="submit">Mark</button>
            </div>
            
        </div>
    </section>

    <footer>
        YEAR 2024-25 
    </footer>
</body>
</html>
