<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="s.css"> 
    <title>Student Webpage</title>
</head>
<body>
    <header>
        <h1>YOUR ATTENDANCE</h1>
    </header>

    <nav>
        <button>AI</button>
        <button>Algorithms</button>
        <button>DBMS</button>
        <button>ML</button>
        <button>Networking</button>
    </nav>

    <section class="Attendance-Section">
        <div class="Attendance-Box">
            <h2>ATTENDANCE FOR THE SUBJECT</h2>
            <p>ATTENDANCE BOX</p>
        </div>
    </section>

    <footer>
        YEAR 2024-25 
    </footer>
</body>
</html>
