body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right,rgba(27, 177, 27, 0.253),rgba(251, 251, 251, 0.509), rgba(245, 120, 120, 0.272));
  /* background-image: url('facutlyBackground.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header {
  background: linear-gradient(to right,rgba(27, 177, 27, 0.253),rgba(251, 251, 251, 0.509), rgba(245, 120, 120, 0.272));
  color: #200707ba;
  text-align: center;
  font-weight: bold;
  padding: 20px 0;
  
}

h1 {
  margin: 0;
}

nav {
  display: flex;
  justify-content: center;
  background-color: rgba(27, 86, 44, 0.422);
  padding: 25px 0;
}


nav a:nth-child(1) {
  background-color: #920606;
}

nav a:nth-child(2) {
  background-color: #889307; 
}

nav a:nth-child(3) {
  background-color: #0ea34c; 
}

nav a:nth-child(4) {
  background-color: #a76a09; 
}

nav a:nth-child(5) {
  background-color: #9b59b6; 
}

nav a {
  text-decoration: none;
  color: #ecf0f1;
  font-size: 20px;
  font-weight: bolder;
  border: 2px solid #000000;
  border-radius: 400px;
  padding: 20px 30px;
  margin: 0 10px;
  transition: background-color 0.1s ease;
}

nav a:hover {
  background-color: #125f92;
  color: #7c5858;
}

section.attendance-section {
  padding: 30px;
  text-align: center;
}

.attendance-box {
  
  border-radius: 40px;
  padding: 40px;
  background-color: #76a2ba69;
  width: 35%;
  height: 50vh;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

footer {
  text-align: center;
  padding: 10px;
  background-color:rgba(40, 55, 71, 0.8);
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.nextBtn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  /* text-align: rig20pxht; */
  position: fixed;
  bottom:30% ;
  right: 15%;

  background: #f075d5a8;
  /* width: 100%; */
  border: 0;
  padding: 25px 40px;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bolder;
  /* font-weight: bolder; */
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.nextBtn:hover,.nextBtn:active,.nextBtn:focus {
  background: #57abc398;
}

.backBtn {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  /* text-align: rig20pxht; */
  position: fixed;
  bottom:30% ;
  left: 15%;

  background: #f075d5a8;
  /* width: 100%; */
  border: 0;
  padding: 25px 40px;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bolder;
  /* font-weight: bolder; */
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.backBtn:hover,.backBtn:active,.backBtn:focus {
  background: #b3c35779;
}


